@import 'variables'
@import 'mixins'

.section
  @include fullpage

  img
    //position: absolute
    width: inherit
    height: inherit

.landing
  img
    object-fit: cover

.moreabout
  background: #333333

.hobbies
  background: #FFF7E8

.recentblogs
  background: #00565F

