@import 'variables'
@import 'mixins'

.section
  width: 100%
  height: 100vh

  img
    width: inherit
    height: inherit

.landing
  img
    object-fit: cover

.moreabout
  background: #333333

.hobbies
  background: #FFF7E8

.recentblogs
  background: #00565F

