@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap')
@import 'mixins'

body
  background: linear-gradient(#FFF, #7FB89F)
  height: 100vh

.back
  @include transition-ease

  height: 4rem
  position: absolute
  top: 5%
  left: 5%
  transform: translateX(-50%)
  fill: #7FB89F
  filter: drop-shadow(0 0 1px gray)

  &:hover
    fill: #597569

.page
  @include centerit
  height: inherit
  box-shadow: 0 0 30px #888
  background: white
  padding: 3rem

  & > *
    padding-top: 2rem

  .datebox
    position: fixed
    top: 0
    left: 50%
    transform: translateX(-50%)
    width: 15%
    filter: drop-shadow(0 1px 1px #888)
    padding-top: 0

    .date
      font-size: 2.5rem
      font-family: 'Quicksand', sans-serif

  .post_title
    width: 100%
    text-align: center
    font-size: 2.5rem
    font-family: "Rockwell", sans-serif
    padding-top: 2rem

  .intro
    font-family: "Source Serif Pro", serif
    font-weight: 300
    font-size: 1.3rem