@import 'variables'
@import 'mixins'

body
  background: linear-gradient(rgba(#000, 0.3), rgba(#000, 0.3)), url("/static/timeline/images/time_background.jpg")
  background-repeat: no-repeat
  background-size: auto
  background-attachment: fixed

.moment
  width: 60%
  margin: 1rem auto
  margin-bottom: 1.5rem
  border-radius: 10px
  background: white
  box-shadow: 0 0 20px 0 black

  &__head
    display: flex
    justify-content: space-between
    color: white
    background: $other-color
    padding: 1rem
    border: 1px black solid
    border-top-left-radius: inherit
    border-top-right-radius: inherit
    font-size: 1rem

    &__title
      font-weight: bold

    &__time
      font-style: italic

  &__body
    display: flex

    p
      margin: 1rem 2rem

    &__gallery
      background: $secondary-background
      display: grid
      padding: 1rem
      height: inherit

      img
        width: 200px
        border-radius: 3px
        margin: 0.2rem
        box-shadow: 0 0 10px 0 black


@import 'responsive'