{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>About Rishabh Prajapati</title>
{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'portfolio/css/about.css' %}">
{% endblock %}

{% block content %}
    <div class="section landing">
        <img src="{% static 'portfolio/images/landing.png' %}" alt="landing_image">
    </div>
    <div class="section moreabout">
        <img src="{% static 'portfolio/SVG/about_back.svg' %}" alt="">
    </div>
    <div class="section hobbies">
        <img src="{% static 'portfolio/SVG/hobbies_back.svg' %}" alt="">
    </div>
    <div class="section recentblogs">
        <img src="{% static 'portfolio/SVG/blogs_back.svg' %}" alt="">
    </div>
{% endblock %}
