@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
* {
  text-shadow: 1px 2px 0 black;
}

form input, form textarea {
  display: block;
}

::selection {
  background: #c2c2c2;
}

::placeholder {
  color: #bbb;
  text-align: right;
}

.split {
  display: flex;
  height: calc(100vh - 5rem);
  width: 100vw;
}
.split .contact_info {
  width: 100%;
  background-color: #505A5B;
  color: white;
  padding: 0 3rem;
  font-size: 1.5rem;
}
.split .contact_info .header_text {
  padding-top: 3rem;
  font-family: "Secular One", sans-serif;
  font-size: 3rem;
}
.split .contact_info .subtitle_text {
  font-family: "Allura", cursive;
  font-size: 3rem;
  text-align: right;
}
.split .contact_info .page_body {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
.split .contact_info .page_body .quote {
  margin: auto;
}
.split .contact_info .page_body .quote_text {
  font-size: 3rem;
  font-family: "Quicksand", sans-serif;
}
.split .contact_info .page_body .quote .author {
  padding-top: 2rem;
  text-align: right;
  font-size: 2.5rem;
  font-family: "Caveat", cursive;
}
.split .contact_info .page_body .feedback_form {
  width: fit-content;
  border-left: 1px solid yellow;
}
.split .contact_info .page_body .feedback_form:focus {
  border-color: white;
}
.split .contact_info .page_body .feedback_form * {
  margin-left: auto;
  border-color: #c2c2c2;
  transition: all 0.3s ease-in-out;
}
.split .contact_info .page_body .feedback_form input[type=text], .split .contact_info .page_body .feedback_form textarea {
  border: none;
  border-right: 2px solid #aaa;
  padding: 1rem;
  width: 30rem;
  margin: 0.5rem 0 1.5rem 0;
  text-align: right;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.split .contact_info .page_body .feedback_form input[type=text]:focus, .split .contact_info .page_body .feedback_form textarea:focus {
  border-color: white;
}
.split .contact_info .page_body .feedback_form textarea {
  height: 10rem;
  resize: none;
  text-align: left;
}
.split .contact_info .page_body .feedback_form .submit_button {
  padding: 0.8rem;
  border: none;
  border-radius: 4px;
  position: relative;
  bottom: 4px;
  text-transform: uppercase;
  color: white;
  background: darkcyan;
  text-shadow: none;
  box-shadow: 0 4px 0 #4a4a4a;
  transition: all 0.1s linear 0s;
}
.split .contact_info .page_body .feedback_form .submit_button:hover {
  bottom: 3px;
  box-shadow: 0 3px 0 #444;
}
.split .contact_info .page_body .feedback_form .submit_button:active {
  bottom: 0;
  box-shadow: 0 0 0 #444;
}
.split .contact_info .social_media {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.split .contact_info .social_media i {
  color: white;
  font-size: 4rem;
  padding-right: 5rem;
  text-shadow: 0 0 15px #444;
  transition: all 0.3s ease-in-out;
}
.split .contact_info .social_media i:hover {
  text-shadow: 0 0 5px #444;
}
.split .contact_info .social_media .fa-instagram:hover {
  color: #C13584;
}
.split .contact_info .social_media .fa-linkedin:hover {
  color: #2d93ad;
}
.split .contact_info .social_media .fa-at:hover {
  color: gray;
}
.split .contact_info .social_media .fa-phone-square-alt:hover {
  color: gold;
}
.split .contact_info .social_media .fa-steam:hover {
  color: #2a475e;
}
.split img {
  box-shadow: 0 0 10px black;
  height: inherit;
  object-fit: cover;
}

/*# sourceMappingURL=contact.css.map */
