@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300400500600700&display=swap");
.flex {
  display: flex;
  justify-content: space-between;
}

.section {
  min-height: 100vh;
  width: 100vw;
}

.banner {
  z-index: 1;
  position: sticky;
  top: 0;
  height: 6.5rem;
  background: #1f1f1f;
  color: white;
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  text-align: center;
  opacity: 90%;
}

.container {
  margin: 0 auto;
  margin-top: 6.5rem;
  width: 65%;
}
.container__item {
  padding: 2rem 0 1rem 0;
}
.container__item * {
  padding-bottom: 1rem;
}
.container__item .flex {
  font-size: 1.5rem;
  align-items: center;
}
.container__item .flex .title {
  color: #2d93ad;
}
.container__item .flex .duration {
  color: gray;
  font-size: 0.8em;
  font-style: italic;
}
.container__item__subtitle {
  font-size: 1.1rem;
}
.container__item__description {
  text-align: justify;
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: 22rem;
  grid-gap: 4rem;
  padding: 1.5rem 0;
  margin: 0 auto;
}
#projects .project {
  cursor: pointer;
  border: 4px solid white;
  border-radius: 5px;
  box-shadow: 0 0 10px gray;
  position: relative;
  transition: all 0.3s ease-in-out;
}
#projects .project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#projects .project:hover {
  box-shadow: 0 0 100px gray;
}
#projects .project:hover .title {
  opacity: 1;
}
#projects .project .title {
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  z-index: 2;
  background: #040303;
  color: white;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}

.scroll_btns {
  z-index: 2;
  position: fixed;
  bottom: 6rem;
  right: 2rem;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.scroll_btns .scroll_btn {
  cursor: pointer;
  width: 100%;
  padding: 0.8rem;
}
.scroll_btns .scroll_btn i {
  height: 1.2rem;
  width: 1.2rem;
  border-color: #c2c2c2;
  transition: all 0.3s ease-in-out;
}
.scroll_btns .scroll_btn:hover i {
  border-color: white;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
}

@media screen and (max-width: 1300px) {
  .nav .navbar {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 900px) {
  .nav .navbar {
    transform: translateY(-100%);
    background: #040303;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 5rem;
    width: 100vw;
    opacity: 0.95;
    z-index: 4;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.3s ease-in-out;
  }
  .nav .navbar__item {
    padding: 0;
  }
  .nav .menu-btn {
    display: block;
  }
}
@media screen and (max-width: 1300px) {
  .container {
    width: 70%;
  }
}
@media screen and (max-width: 900px) {
  .container {
    width: 95%;
  }
}

/*# sourceMappingURL=portfolio.css.map */
