{% extends 'base.html' %}

{% load wagtailcore_tags %}

{% block body_class %}template-indexpage{% endblock %}

{% load static %}

{% block title %}
    <title>Timeline</title>
{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'timeline/css/index_page.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <p class="heading">{{ page.title }}</p>
        <div class="index_descrip">{{ page.description | richtext }}</div>
        <div class="blog_grid">
            {% for post in page.get_children %}
                <a class="blog" href="{% pageurl post %}">
                    <div class="content">
                        <p class="date">{{ post.specific.date }}</p>
                        <p class="title">{{ post.title }}</p>
                        <p class="subtext">{{ post.specific.intro }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'timeline/js/index_page.js' %}"></script>
{% endblock %}
