{% extends 'base.html' %}

{% load wagtailcore_tags %}

{% block body_class %}template-indexpage{% endblock %}

{% load static %}

{% block title %}
    <title>Timeline</title>
{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'timeline/css/timeline.css' %}">
{% endblock %}

{% block content %}
    <p class="heading">{{ page.title }}</p>
    <p class="index_descrip">{{ page.description }}</p>
    <div class="blog_grid">
    {% for post in page.get_children %}
        <div class="blog">
            <p class="timestamp">{{ post.timestamp }}</p>
            <p class="title">{{ post.title }}</p>
            <p class="subtext">{{ post.intro }}</p>
        </div>
    {% endfor %}
    </div>
{% endblock %}
