{% extends 'base.html' %}

{% load wagtailcore_tags %}

{% block body_class %}template-indexpage{% endblock %}

{% load static %}

{% block title %}
    <title>Timeline</title>
{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'timeline/css/timeline.css' %}">
{% endblock %}

{% block content %}
    <p class="heading">{{ page.title }}</p>
    <div class="index_descrip">{{ page.description | richtext }}</div>
    <div class="blog_grid">
    {% for post in page.get_children %}
        <a class="blog" href="{% pageurl post %}">
            <p class="timestamp">{{ post.timestamp }}</p>
            <p class="title">{{ post.title }}</p>
            <p class="subtext">{{ post.intro }}</p>
        </a>
    {% endfor %}
    </div>
{% endblock %}
