{% extends 'base.html' %}

{% block title %}
    <title>Timeline</title>
{% endblock %}

{% block content %}
    <div>
        <ul>
            {% for moment in moments %}
                <li>
                    <ul>
                        <li><h5>{{ moment.title }}: {{ moment.description }}</h5></li>
                        <li>
                            <ul>
                                {% for media in moment.get_gallery %}
                                    <li>
                                        <img src="{{ media.file.url }}" height="100" alt="{{ media.file.name }}"/>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}